[submodule "submodules/fork_union"]
	path = submodules/fork_union
	url = https://github.com/vberthiaume/fork_union.git
[submodule "submodules/StructGRIS"]
	path = submodules/StructGRIS
	url = git@github.com:GRIS-UdeM/StructGRIS.git
