[submodule "submodules/StructGRIS"]
	path = submodules/StructGRIS
	url = git@github.com:GRIS-UdeM/StructGRIS.git
[submodule "submodules/fork_union"]
	path = submodules/fork_union
	url = https://github.com/ashvardanian/fork_union.git
[submodule "submodules/Spatial_Audio_Framework"]
	path = submodules/Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework.git
